p {
  font-family: Arial;
}

.subscribe-button {
  padding: 10px 15px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.subscribe-button-clicked {
  background-color: rgb(241, 241, 241);
  color: black;
}

.price-input {
  padding: 10px;
  font-size: 15px;
  margin-bottom: 30px;
}

.calculate-button {
  padding: 12px 15px;
  font-size: 15px;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
}